<div style="margin-top: 140px; text-align: center;">
<h2> 寺・神社新規投稿</h2>

	<%= form_for(@temple, :url => {:controller => :temples, :action => :create}) do |f| %>


		<div>
			<h3>寺・神社名</h3>
			<%= f.text_field :name %>
		</div>

		<div>
			<h3>メイン写真</h3>
			<%= f.attachment_field :mainimage %>
		</div>

		<div>
			<h3>その他写真</h3>
			<%= f.attachment_field :temple_images_images, multiple: true %>
		</div>

		<div>
			<h3>エリア</h3>
		<%= f.select :area, Temple.areas.keys, class: "select-default" %>
		</div>

		<div>
			<h3>都道府県</h3>
		<%= f.collection_select :prefecture_id, Prefecture.all, :id, :name %>
		</div>

		<div>
			<h3>場所</h3>
			<%= f.text_field :address %>
		</div>

		<div>
			<h3>ご利益</h3>
		<%= f.collection_select :goriyaku_id, Goriyaku.all, :id, :name %>
		</div>



		<div>
			<%= f.submit '新規追加' %>
		</div>

	<% end %>
</div>
