<div class="templeheader" style="background-color: moccasin; width: 100%; margin: 0 auto; margin-bottom: 5px;">
    <ul class="nav nav-pills justify-content-center" >
      <li class="nav-item">
        <%= link_to  user_temples_path, class: "nav-link active" do %>
          <i class="fas fa-torii-gate"><span style="margin-left: 5px;">寺・神社</span></i>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to  user_memorys_path, class: "nav-link" do %>
          <i class="fas fa-feather-alt"><span style="margin-left: 5px;">参拝記録</span></i>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to  user_questions_path, class: "nav-link" do %>
          <i class="fas fa-question-circle"><span style="margin-left: 5px;">質問</span></i>
        <% end %>
      </li>
    </ul>
</div>
	<div class="row" style="margin-top : 150px;">

			<div class="col-lg-4" style="margin-left: 50px;">
				<div>
					<div style="font-size: 50px; border-bottom: solid 3px #8b0000; text-align: center;">
						<%= @temple.name %>
						<% if @temple.cliped_by?(current_user) %>
    							<%= link_to user_temple_clips_path(@temple), method: :delete do %>
      							<i class="fa fa-star" aria-hidden="true" style="color: gold; font-size: 30px;"></i>
  			  					<% end %>
						<% else %>
    							<%= link_to user_temple_clips_path(@temple), method: :post do %>
      							<i class="far fa-star" aria-hidden="true" style="font-size: 30px; color: green;"></i>
    							<% end %>
						<% end %>
					</div>
					<div id="temple-info">
						<i class="fas fa-map-marker-alt"><%= @temple.address %></i><br>
						<i class="fas fa-praying-hands" style="margin-top: 20px;margin-right: 75px;">ご利益：<%= @temple.goriyaku.name %></i>
					</div>
				</div>
				<div id=map></div>

			</div>

				<div class="col-lg-5" style="margin-left: 50px; margin-top: 50px;">
				    <div class="tab-content" id="nav-tabContent" style="text-align: center; ">
				      <div class="tab-pane fade show active" id="list-mainimage" role="tabpanel" aria-labelledby="list-home-list">
				      	<%= attachment_image_tag @temple, :mainimage, :fill, 576, 420, format: 'jpeg' %>
				      </div>
				      <% @temple.temple_images.each do |image| %>
					      <div class="tab-pane fade" id="list-image-<%=image.id %>" role="tabpanel" aria-labelledby="list-image-list">
					      	<%= attachment_image_tag image, :image, :fill, 576, 420, format: 'jpeg' %>
					      </div>
					  <% end %>
				    </div>
				</div>

				<div class="col-lg-2" style="margin-top: 70px;">
					<div class="list-group  text-center" id="list-tab" role="tablist" style="margin-right: 20px;">
				      	<a class="list-group-item list-group-item-action active"  data-toggle="list" href="#list-mainimage" role="tab" aria-controls="list-mainimage">
				      		<%= attachment_image_tag @temple, :mainimage, :fill, 100, 70, format: 'jpeg' %>
				      	</a>
				      <% @temple.temple_images.each do |image| %>
				      	<a class="list-group-item list-group-item-action" id="list-image-<%=image.id %>-list" data-toggle="list" href="#list-image-<%=image.id %>" role="tab" aria-controls="list-image">
				      		<%= attachment_image_tag image, :image, :fill, 100, 70, format: 'jpeg' %>
				      	</a>
				      <% end %>
				    </div>
				</div>
	</div>

	<div class="row" style="margin-top: 100px; margin-bottom: 30px;">
		<div class="col-lg-7" style="margin: 0 auto;">
			<h2 style="border-bottom: solid 3px #8b0000; text-align: center;">
				<%= @temple.name %>の投稿一覧
				<%= link_to user_new_memory_path(@temple) ,style: "font-size: 20px; " do %>
				<i class="fas fa-plus" style="margin-left: 300px; margin-right: 15px; color: darkgreen;">投稿する</i>
				<% end %>
			</h2>
			<% @memorys.each do |memory| %>
			<div class="well" style="margin-top: 30px; border: solid 1px #8b0000; padding: 10px;">
				<div style="border-bottom: dashed 1px lightgray; ">
				<%= link_to user_user_path(memory.user) ,:style=>"color:#8b0000;" do %>
				<%= attachment_image_tag memory.user, :profile_image, :fill, 50, 50, format: 'jpeg',style: "border-radius: 50%;", fallback: "no_image.jpg" %>
				<strong style="margin:10px,0,0,6px; font-size: 20px;"><%= memory.user.name %></strong>さん<br>
				<% end %>
				<p style="margin-bottom: 0px;">投稿日：<%= memory.created_at.strftime("%Y-%m-%d %H:%M") %>
					<% if memory.favorited_by?(current_user) %>
    							<%= link_to user_memory_favorites_path(memory), method: :delete do %>
      							<i class="fa fa-heart" aria-hidden="true" style="color:#e83b69; font-size: 20px; margin-left: 30px;"></i>
      							<strong style="color: black; font-size: 20px; margin-left: 5px;"><%= memory.favorites.count %></strong>
  			  					<% end %>
						<% else %>
    							<%= link_to user_memory_favorites_path(memory), method: :post do %>
      							<i class="far fa-heart" aria-hidden="true" style="font-size: 20px; color:#e83b69; margin-left: 30px;"></i>
      							<strong style="color: black; font-size: 20px; margin-left: 5px;"><%= memory.favorites.count %></strong>
    							<% end %>
					<% end %>
					<% if memory.user == current_user %>
		              <%= link_to  user_memory_path(memory), method: :delete,"data-confirm" => "削除しますか？",style: "color:#8b0000; margin-left:350px; font-size:20px;" do %>
		                <i class="fas fa-trash-alt"></i>
		              <% end %>
		            <% end %>
				</p>
				</div>
				<strong style="font-size: 20px; border-bottom: solid 1px black;"><%= memory.title %></strong><br>
				<p style="font-size: 15px;">訪問日：<%= memory.visit_date %></p>
				<br>
				<div style="margin: 0; width: 600px;">
				<%= simple_format(memory.body) %><br>
				</div>
				<% memory.memory_images.each do |image| %>
					<%= attachment_image_tag image, :image, :fill, 150, 150, format: 'jpeg' %>
				<% end %>
			</div>
			<% end %>
		</div>
	</div>

<script type="text/javascript">
  function initMap() {

    var test = {lat: <%= @temple.latitude %>, lng: <%= @temple.longitude %>};
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 15,
      center: test
    });
    var transitLayer = new google.maps.TransitLayer();
    transitLayer.setMap(map);

    var contentString = '住所：<%= @temple.address %>';
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });

    var marker = new google.maps.Marker({
      position:test,
      map: map,
      title: contentString
    });

    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });
  }
</script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyDV7aHnCQ6Lbws5KlkFCA7XzgB4So2mREE&callback=initMap">
</script>





