<div class="templeheader" style="background-color: moccasin; width: 100%; margin: 0 auto; margin-bottom: 5px;">
    <ul class="nav nav-pills justify-content-center" >
      <li class="nav-item">
        <%= link_to  user_temples_path, class: "nav-link" do %>
          <i class="fas fa-torii-gate"><span style="margin-left: 5px;">寺・神社</span></i>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to  user_memorys_path, class: "nav-link" do %>
          <i class="fas fa-feather-alt"><span style="margin-left: 5px;">参拝記録</span></i>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to  user_questions_path, class: "nav-link active" do %>
          <i class="fas fa-question-circle"><span style="margin-left: 5px;">質問</span></i>
        <% end %>
      </li>
    </ul>
</div>

<div class="row" style="margin-top: 200px; ">
	<div class="col-lg-7" style="margin: 0 auto; border:solid 2px #8b0000; padding-top: 10px;">
		<p>
			<%= link_to user_user_path(@question.user),:style=>"color:#8b0000;" do %>
				<%= attachment_image_tag @question.user, :profile_image, :fill, 50, 50, format: 'jpeg',style: "border-radius: 50%;" %><strong style="margin-left: 20px; margin-right: 20px;"><%= @question.user.name %></strong>
			<% end %>さんの質問
		</p><br>
		<p style="margin-bottom: 40px; margin-left: 70px;"><%= @question.body %></p>
	</div>
</div>

<div class="row" style="margin-top: 100px; ">
	<div class="col-lg-7" style="margin: 0 auto; ">
		<%= form_for([@question,@answer], :url => {:controller => :answers, :action => :create}) do |f| %>
        	<div style="margin-left: 120px; margin-bottom: 5px; font-size: 25px;">
				<i class="fas fa-edit"></i>
			</div>
        	<div style="text-align: center;">
				<%= f.text_area :body,style: "width:600px; height:300px;" %>
			</div>
			<div style="margin-top: 20px; text-align: center;">
				<%= f.submit '回答する' ,:style => "background-color:yellowgreen;"%>
			</div>
		<% end %>
	</div>
</div>


